@using VanQuangTin_2280603267_Lab04.Models
@inject SignInManager<ApplicationUser> SignInManager

@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<div class="list-group">
    <a class="list-group-item list-group-item-action @ManageNavPages.IndexNavClass(ViewContext)" asp-page="./Index">
         Hồ sơ
    </a>
    <a class="list-group-item list-group-item-action @ManageNavPages.EmailNavClass(ViewContext)" asp-page="./Email">
         Email
    </a>
    <a class="list-group-item list-group-item-action @ManageNavPages.ChangePasswordNavClass(ViewContext)" asp-page="./ChangePassword">
         Đổi mật khẩu
    </a>
    @if (hasExternalLogins)
    {
        <a class="list-group-item list-group-item-action @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">
             Đăng nhập ngoài
        </a>
    }
    <a class="list-group-item list-group-item-action @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" asp-page="./TwoFactorAuthentication">
         Xác thực 2 bước
    </a>
    <a class="list-group-item list-group-item-action @ManageNavPages.PersonalDataNavClass(ViewContext)" asp-page="./PersonalData">
         Dữ liệu cá nhân
    </a>

    @if (User.IsInRole("Admin"))
    {
        <a class="list-group-item list-group-item-action" asp-area="Admin" asp-controller="Admin_Manage" asp-action="Dashboard">
             Quản trị
        </a>
    }
</div>
